/* Modificador universal */
*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td{
    align-items: center;
    -ms-grid-row-span: 5;
}

/* Estilos del Popup*/

.popup{
    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-contenido{
    background-color: rgba(0, 0, 0, 0.1);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cerrar{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,.cerrar:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* css universales para las 3 paginas */

body{
    background: linear-gradient(
        #FCF4ED,
        #785d56
    );
}

/* Estilos del login*/


.bodyLogin{
    background: linear-gradient(
        #FCF4ED,
        #785d56
    );
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    background-color: #FCF4ED;
}


.linkNav{
    text-decoration: none;
    color:black;
}

.logo{
    width: 175px;
    height: 175px;
}

.img-logo{
    width: 175px;
    height: 175px;
}

.sesion{
    padding: 5px;
    border-radius: 5cm;
    background-color: #be4c54;
    color: beige;
}

.navBar{
    width: 450px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCF4ED;
    margin: 5px;
    padding: 5px;
}

h1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 200px;
    background-color: #785d56;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    color: beige;
}

.link-footer{
    color: beige;
    text-decoration: none;
}

/* modificaciones particulares de la pagina INDEX.HTML */

.container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #fff;
    margin-bottom: 15px;
}

#valor{
    font-size: 5em;
}

.boton{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5cm;
    background-color: #be4c54;
    color: beige;
    margin-left: 20px;
}


.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.album{
    padding: 5px;
    border-radius: 5cm;
    background-color: #785d56;
    color: beige;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px;
    justify-content: space-around;
}

.grid-imagen{
    height: 75%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
    background-position: center;
    overflow: hidden;
}

.grid-imagen:hover::after{
    transform: translateY(0);
}

.grid-imagen::after{
    content: "Opciones";
    font-size: 2rem;
    color: black;
    background-color: rgba(252, 244, 237, 0.75);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

/* modificaciones particulares de la pagina CONSEJOS.HTML */

h2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Parrafo1{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 12px;
}

.consejos{
    margin: 20px;
}

.parrafo-prueba{
    margin-bottom: 200px;
}

.contador-de-fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

.boton-contador{
    padding: 5px;
    border-radius: 5cm;
    background-color: #be4c54;
    color: beige;
}

/* modificaciones particulares de la pagina CONTACTO.HTML */

.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 50%;
    padding: 20px;
}

.formulario{
    width: 50%;
    padding: 20px;
}

form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

/* Estilos de la pagina Login */

.loginContenedor{
    display: none;
    justify-content: center;
    align-items: center;

}

.tablaLogin{
    border: 2px, solid, #be4c54;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100%;
}


label{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.inputLogin{
    padding: 8px 10px;
    border-radius: 5px;

}

.buttonLogin{
    padding: 8 10px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}